// ===================================================================================
// footer
// ===================================================================================


// .footer{
// 	// background-color: #f0f0f026;
// 	color: $text_color;
// 	// padding: 50px 0px;
// 	// a{
// 	// 	color: #111;
// 	// }
// }


.footer{
	
}


.top_footer{
	border-top: 1px solid #edeff0;
	background: #f7f9fa;
    color: #54616c;


}

.bottom_footer{
	    background: #000;
    color: #fff;
}