// ===================================================================================
// footer
// ===================================================================================


// .footer{
// 	// background-color: #f0f0f026;
// 	color: $text_color;
// 	// padding: 50px 0px;
// 	// a{
// 	// 	color: #111;
// 	// }
// }


.zalo-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 9999;
  animation: pulse 2s infinite;
  transition: transform 0.3s ease;
  &.zalo-button2{
    bottom: 80px;
  }
}
.zalo-button img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.zalo-button:hover {
  transform: scale(1.1);
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}



.top_footer{
	border-top: 1px solid #edeff0;
	background: #f7f9fa;
    color: #54616c;


}

.bottom_footer{
	    background: #000;
    color: #fff;
}
.footer-address{
  h2{
    font-size: 15px;
    font-weight: bold;
  }
  address, p{
    font-size: 14px;
  }
}