
// ===================================================================================
// wrap menu mobile
// ===================================================================================
.mb_nav_logo_menu{
	padding:10px 15px;
	position: sticky;
	top:0;
	left:0;
	width:100%;
	background: white;
	z-index: 999;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	height:55px;

	body.admin-bar &{
		top:46px;
	}
}

.css_btn_menu {
  position: relative;

  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;

  outline:none;

  width:22px;
  height:18px;
  background:transparent;
  outline:none;
  border:none;

  span {
	   background: #000;
	  border: none;
	  height: 2px;
	  width: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  transition: all 0.35s ease;
	  cursor: pointer;

	  &:nth-of-type(2) {
	  	top: 6px;
	  }

	  &:nth-of-type(3) {
  		top: 12px;
	 }
  }


  &:focus{
  	outline:none;
  }

  &:hover{
  	 opacity: 0.7;
  }

  &.active{
  	.top{
  		transform: translateY(6px) translateX(0) rotate(45deg);
  		background: #000;
  	}

  	.middle {
	  opacity: 0;
	  background: #000;
	}

	.bottom {
	  transform: translateY(-6px) translateX(0) rotate(-45deg);
	  background: #000
	}

  }

}


.mb_wrap_menu{
	position: fixed;
	top:55px;
	 right: 100%;
	z-index: 1000;
	background: white;
	// background: rgba(black,0.8);
	width:100%;
	height:calc(100% - 55px);
	transition: right 0.3s ease;
	overflow-y:auto;
	overflow-x:hidden;

	padding:15px 15px 30px 15px;

	body.admin-bar &{
		top:calc( 55px + 46px );
		height:calc(100% - 55px - 46px);
	}


	&.active{
		right:0;
	}
}


// ========================================================================================
// menu mobile
// ========================================================================================
.mb_ul{
	list-style-type: none;
	padding-left:0px;
	margin:0px;
	// text-decoration:none;

	li{
		a{
			
			color:#242942;
			display: block;
			padding:10px 0px;
			position: relative;
		    text-decoration: none;
		    // text-transform: uppercase;
		    font-size:14px;
		    font-weight: 600;
		     border-bottom: 1px solid rgb(239, 242, 245);
		}



		.btn_fa_show_sub{
			position: absolute;
			top:50%;
			right:5px;
			transform:translateY(-50%);
			transition: transform 300ms;
			z-index: 1;
			opacity:.8;
			padding:0px;
			margin:0px;
			outline:none;
			background: none;
			border:none;
			border-radius: 0px;

			i{
				text-align: center;
				width:30px;
			height:30px;
			line-height: 30px;
				background: transparent;
				border-radius: 50%;

			}

			&:hover{
				i{
				background: #EBEEF1;
				border-radius: 50%;
				}
			}

			&.active{
				
				transform:translateY(-50%) rotate(180deg);
				i{
					background: #EBEEF1;
					border-radius: 50%;
				}
			}
		}

		ul{
			list-style-type: none;
			padding-left:15px;
		
		    margin: 0;

		    overflow: hidden;
		    max-height: 0;
		    -webkit-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
		    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

		    &.active{
		    	max-height: 2000px;
			    -webkit-transition: max-height 1s ease-in-out;
			    transition: max-height 1s ease-in-out;
		    }


			li{
				a{
					&:before{
						// content:'\f111';
						// font-family: 'FontAwesome';
						// margin-right:5px;
						// font-size:10px;	    
					}
				}


			}
		}
	}
}





// ========================================================================================
// menu mobile
// ========================================================================================
.mb_ul2{
	list-style-type: none;
	padding-left:0px;
	margin:0px;
	border: 1px solid #eff2f5;
	border-top: 0;
	border-bottom: 0;

	li{
		margin-bottom: 0;
		&.menu-item{
			&:nth-of-type(2) a{
				background-image: url('https://psmcvn.com/wp-content/uploads/2025/07/mui-taro.svg');
			}
			&:nth-of-type(3) a{
				background-image: url('https://psmcvn.com/wp-content/uploads/2025/07/mui-phay.svg');
			}
			&:nth-of-type(4) a{
				background-image: url('https://psmcvn.com/wp-content/uploads/2025/07/ban-ren.svg');
			}
			&:nth-of-type(5) a{
				background-image: url('https://psmcvn.com/wp-content/uploads/2025/07/duong-ren.svg');
			}
		}
		a{
			
			color:rgba(102,102,102,.85);
			display: block;
			padding:20px 0px 20px 75px;
			position: relative;
			text-decoration: none;
			// text-transform: uppercase;
			font-size:16px;
			font-weight: 600;
			border-bottom: 1px solid rgb(239, 242, 245);
			background: url(https://psmcvn.com/wp-content/uploads/2025/07/mui-khoan.svg) no-repeat left 10px top 12px;
    	background-size: 40px;
			&:hover{
				color:$black;			
			}
			 &::before{
				content: "";
				display: none;
				width: 0; 
				height: 0; 
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;  
				border-left: 6px solid $color2;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.btn_fa_show_sub{
			position: absolute;
			top:50%;
			right:5px;
			transform:translateY(-50%);
			transition: transform 300ms;
			z-index: 1;
			opacity:.8;
			padding:0px;
			margin:0px;
			outline:none;
			background: none;
			border:none;
			border-radius: 0px;

			i{
				text-align: center;
				width:30px;
			height:30px;
			line-height: 30px;
				background: transparent;
				border-radius: 50%;

			}

			&:hover{



				i{
				// background: #EBEEF1;
				border-radius: 50%;
				}
			}

			&.active{
				
				transform:translateY(-50%) rotate(180deg);
				i{
					// background: #EBEEF1;
					border-radius: 50%;
				}
			}
		}

		ul{
			list-style-type: none;
			padding-left:15px;
		
		    margin: 0;

		    overflow: hidden;
		    max-height: 0;
		    -webkit-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
		    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

		    &.active{
		    	max-height: 2000px;
			    -webkit-transition: max-height 1s ease-in-out;
			    transition: max-height 1s ease-in-out;
		    }


			li{
				a{
					&:before{
						// content:'\f111';
						// font-family: 'FontAwesome';
						// margin-right:5px;
						// font-size:10px;	    
					}
				}


			}
		}
	}
}

